body {
  display: flex;
  flex-direction: column;
  background-image: url("../img/bananapattern.jpg");
}

header {
  display: flex;
  color: yellow;
  align-items: center;
  justify-content: center;
}

footer{
  display: flex;
  font-size: 30px;
  color: #FFFFFF;
  background-color: #212121;
  align-items: center;
  justify-content: center;
}





nav {
  display: flex;
  flex-direction: column;
  align-items: center;

}


h1 {
  font-size: 70px;
  background-color: pink;
}

h2 {
  width: 500px;
  text-align: center;
  font-size: 40px;
}


  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
  }

@media (orientation:landscape) {
  .greatbox {
    display: flex;
    flex-direction: row;
  }

  .menu {
    position: fixed;
    top: 40px;
    left: 0px;
  }


  .menuOut {
    position: absolute;
    top: -60px;
    left: 0px;
    background-color: pink;
    padding-left: 20px;
    padding-right: 80px;
    padding-top: 100px;
    padding-bottom: 20px;

  }

  a {
    font-size: 40px;
    color: #212121;
    text-decoration: none;
  }

  .contentbox {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: justify;
    background-color: pink;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
  }

}

@media (orientation:portrait) {

  .greatbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentbox {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: justify;
    background-color: pink;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .menu {
    position: absolute;
    top: 40px;
    left: -340px;
  }


  .menuOut {
    position: absolute;
    top: -60px;
    left: 0px;
    background-color: pink;
    padding-left: 20px;
    padding-right: 80px;
    padding-top: 100px;
    padding-bottom: 20px;

  }

  a {
    font-size: 70px;
    color: #212121;
    text-decoration: none;
  }
  
  .arrow {
  position: absolute;
  left: 0px;
  top: 0px;
  }

  .arrowOut {
  position: absolute;
  left: 400px;
  top: 0px;
  transform: rotate(180deg);
  }
}
